body {
    border: 1px solid black;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.sender-column{
    text-align: right;
    font-size: 1em;
    margin: 25px 25px 25px 25px;
}
.address{
    margin: 25px 25px 25px 25px;
}
.main{
    margin: 25px 25px 25px 25px;
}
ul,ol,address{
    font-size: 1.1em;
}
p,li,address{
    line-height: 1.5em;
}
.para{
    padding-left: 40px;
}
.to{
    font-size: 1.1em;;
}
